Daily Editorial Summry Automation.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://www.thedailystar.net/opinion/rss.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "92625b2c-de0d-4e56-b2bd-17a732b94820",
      "name": "RSS Feed Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "969bced7-8be4-43f2-9ab9-00f58514a4ed",
              "leftValue": "={{ $json.title.a[0]._ }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "9b4344ed-cd7d-4dd3-814e-d84fc7d7aef3",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a helpful news assistant. I will give you a news title and description from The Daily Star. Create a short daily summary in Bangla + English.\n\nFocus on key arguments, important facts, opinions, and conclusions from each editorial. Write at least 1000 words summery.\n\nFormat nicely: Date – Editorial 1 title: summary... do not say that: \"here is your summery\" or something like that. Just pure, elegant, modern, friendly, easily digestible summery.\nReturn the result in clean HTML format.\n\nRules:\n- Do NOT use asterisks (*)\n- Do NOT use Markdown\n- Use only HTML tags like:\n<h2>, <h3>, <p>, <ul>, <li>, <b>\n\nStructure:\n\n<h2>Daily Editorial Summary</h2>\n\n<h3>বাংলা সারাংশ</h3>\n<p>...</p>\n\n<h3>English Summary</h3>\n<p>...</p>\n\n<h3>Key Points</h3>\n<ul>\n<li>...</li>\n<li>...</li>\n</ul>\n\n\n\n\n\nPlease write a short summary of this news in two parts: first in clear Bangla, then in English. Here is the news: {{ $json[\"title\"][\"_\"] }} - {{ $json[\"contentSnippet\"] }}\""
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        624,
        -96
      ],
      "id": "f61188a0-8186-4096-b68c-b03836a24b37",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "2cc6R3DgbazgAkSJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kit.com/v3/broadcasts",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "api_secret",
              "value": "SQL4KP8tokq7koqq1Jb3v-NlfOEox2man8P5W0-hljU"
            },
            {
              "name": "content",
              "value": "=<p>{{ $json.content.parts[0].text }}</p>"
            },
            {
              "name": "subject",
              "value": "Daily Editorial Summery"
            },
            {
              "name": "description",
              "value": "={{ $('RSS Feed Trigger').item.json.title.a[0]._ }}"
            },
            {
              "name": "public",
              "value": "true"
            },
            {
              "name": "published_at",
              "value": "={{ $now }}"
            },
            {
              "name": "send_at",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        992,
        0
      ],
      "id": "595b9680-71e1-4fb3-8882-6e5d9db446f1",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0753d233-f5f5-430f-a426-5d81a70cb1a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0dd271385d6af6cec4c873b2838f8dda551da8e9cb2df88df757952b41630506"
  },
  "id": "FjDLHMBTNqEFyPsh",
  "tags": []
}